<table class="campaign__table  <%= cp.id %> collapse">
  <thead class="campaign__table__head"><tr >
    <td class="campaign__expand">
    </td>
    <td class="campaign__brand">
      Brand
    </td>
    <td class="campaign__name grid3">
      Name
    </td>
    <td class="campaign__dates grid2">
      Dates
    </td>
    <td class="campaign__progress grid3">
      Progress
    </td>
    <td class="campaign__actions table__actions">
    </td>
  </tr>
</thead>
<tbody>
  <tr class="campaign__title">
    <td class="campaign__expand" data-cp="<%= cp.id %>">
      <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
        <use class="plus" x="0" y="0" href="#expand-plus"></use>
        <use class="minus"  x="0" y="0" href="#expand-minus"></use>
      </svg>
    </td>
    <td class="campaign__brand">
      <%= cp.brand %>
    </td>
    <td class="campaign__name grid3">
      <%= cp.name %>
    </td>
    <td class="campaign__dates grid2">
      <%= moment(cp.dates.start).format('ddd D MMM') %> - <%= moment(cp.dates.end).format('ddd D MMM') %>
    </td>
    <td class="campaign__progress grid3">

      <% var dur = duration(cp.dates); %>
      <% var cur = moment(fakeToday).diff(cp.dates.start, 'days'); %>
      <% var percent = (cur / dur * 100) > 0 ? (cur / dur * 100) : 0; %>
      <% var progString = cur <= 0 ? (cur * -1) + ' days til start' : cur + ' / ' + dur + ' days';  %>

      <div class="chart__progress-bar">
        <span class="chart__progress-bar__prog" style="width: <%= percent %>%; background: #e91e63;">
          <span class="chart__progress-bar__text"><%= progString %></span>
        </span>

      </div>
    </td>
    <td class="campaign__actions table__actions">
      <button class="go-to-reporting">View</button>
    </td>
  </tr>

  <% let crtvs = creatives.filter(cr => cr.campaign === cp.id); %>
  <% crtvs.forEach(function(cr){  %>

  <tr class="creative-row creative-<%= cr.id %>">
    <td colspan="6" class="creative">

      <div class="creative-wrapper">

       <!-- start creative -->

      <table class="creative__table " style="border: 2px solid <%= cr.format.color %>">
        <thead>
        <tr class="creative__title" style="background-color: <%= cr.format.color %> ">
          <th class="creative__title__thumb">
            <img src="/images/<%= cr.thumb %>" alt="">
            <div class="creative__title__thumb__hover" style="background-image: url('/images/<%= cr.preview %>')">

            </div>
          </th>
          <th class="creative__title__format">
            <svg viewBox="0 0 980 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#<%= cr.format.name %>" />
            </svg>
          </th>
          <th class="creative__title__name grid3" >
            <%= cr.name %>
          </th>
          <th class="creative__title__author">

              <span>Modified: <%= moment(cr.modified).format('D/M/YY') %> <%= cr.author %></span>

          </th>

          <th class="creative__title__status"><span><svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" href="#<%= cr.statusIcon %>" />
          </svg><%= cr.status %></span></th>
          <th class="creative__title__actions table__actions">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#menu" />
            </svg>
            <div class="table__actions__menu">
              <ul>
                <li class="inactive">Edit Creative</li>
                <li>Preview Creative</li>
                <li>Clone</li>
                <li>Archive</li>
              </ul>
            </div>
          </th>
        </tr>
        </thead>

        <tbody style="background-color: <%= tinycolor(cr.format.color).setAlpha(.2) %>">

          <tr class="placement__header" style="color: <%= tinycolor(cr.format.color).darken(20) %>">
            <td class="placement__status">
              <!-- Status -->
            </td>
            <td class="placement__audience">
              Audience
            </td>
            <td class="placement__name grid3">
              Name
            </td>
            <td class="placement__dates">
            Dates
            </td>
            <td class="placement__progress grid5">
              Progress
            </td>
            <td class="placement__actions table__actions">

            </td>
          </tr>

        <% let pments = placements.filter(pl => pl.campaign === cp.id && pl.creative === cr.id); %>
        <% pments.forEach(function(pl){ %>

              <tr class="placement">
                <td class="placement__status">
                  <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                    <use x="0" y="0" href="#play" />
                  </svg>
                </td>
                <td class="placement__audience">
                  <%- pl.audience.shortName %>
                </td>
                <td class="placement__name grid3">
                  <%- pl.name %>
                </td>
                <td class="placement__dates">
                  <%= moment(pl.dates.start).format('ddd D MMM') %> - <%= moment(pl.dates.end).format('ddd D MMM') %>
                </td>
                <td class="placement__progress grid5">

                  <!-- DELIVERY -->

                  <div class="plch chart-container" id="chart_<%= pl.id %>_del">
                    <h6>Del.</h6>
                    <svg class="plch__bg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                      <circle cx="50" cy="50" r="45" fill="transparent" stroke-width="2" stroke="<%= cr.format.color %>"></circle>
                    </svg>
                    <svg class="plch__result" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                      <circle cx="50" cy="50" r="45" fill="transparent" style="stroke-dasharray: 20em; stroke-dashoffset: <%= pl.data.delPerc/100 * -20 %>em; stroke:lightgrey;"></circle>
                    </svg>
                    <div class="plch__result-text">
                          <%= pl.data.delPerc %>%
                    </div>
                  </div>

                  <!-- VIEWABILITY -->

                  <div class="plch chart-container" id="chart_<%= pl.id %>_viewb">
                    <h6>Viewb.</h6>
                    <svg class="plch__bg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                      <circle cx="50" cy="50" r="45" fill="transparent" stroke-width="2" stroke="<%= cr.format.color %>"></circle>
                    </svg>
                    <svg class="plch__result" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                      <circle cx="50" cy="50" r="45" fill="transparent" style="stroke-dasharray: 20em; stroke-dashoffset: <%= pl.data.viewAv/100 * -20 %>em; stroke:lightgrey;"></circle>
                    </svg>
                    <div class="plch__result-text">
                        <%= pl.data.viewAv %>%
                    </div>
                  </div>

                  <!-- ENGAGEMENT RATE -->

                  <div class="plch chart-container" id="chart_<%= pl.id %>_eng">
                    <h6>Eng.Rate</h6>
                    <svg class="plch__result" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                      <circle cx="50" cy="50" r="45" fill="transparent" stroke-width="0" stroke="#ccc"></circle>
                    </svg>
                    <div class="plch__result-text" style="color: <%= cr.format.color %> ">
                          <%= pl.data.engAv %>%
                    </div>
                  </div>

                  <!-- CTR -->


                  <div class="plch chart-container" id="chart_<%= pl.id %>_ctr">
                    <h6>CTR</h6>
                    <svg class="plch__bg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
                      <circle cx="50" cy="50" r="45" fill="transparent" stroke-width="0" stroke="#ccc"></circle>
                    </svg>
                    <div class="plch__result-text"  style="color: <%= cr.format.color %> ">
                          <%= pl.data.ctrAv %>%
                    </div>
                  </div>


                </td>
                <td class="placement__actions table__actions">
                  <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                    <use x="0" y="0" href="#menu" />
                  </svg>
                </td>

              </tr>

                <% }); %>
            </tbody>
            </table>
      </div> <!--end creative-wrapper -->
    </td>
  </tr>

  <% }); %> <!-- end creative -->

</tbody>
</table>
