<% include partials/header.html.ejs %>


  <div class="app__body">

    <div class="campaigns">
      <!-- <h1>Campaigns</h1> -->

      <table class="campaign__table">
        <tr class="campaign__title">
          <td class="campaign__expand grid1">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#arrow-down"></use>
            </svg>
          </td>
          <td class="campaign__brand grid2">
            Go Pro
          </td>
          <td class="campaign__name grid3">
            Hero 5 Mark II Release
          </td>
          <td class="campaign__dates grid2">
            <%= moment(cp.dates.start).format('ddd D MMMM') %> - <%= moment(cp.dates.end).format('ddd D MMMM') %>
          </td>
          <td class="campaign__progress grid3">
            <div class="chart__progress-bar">
              <span class="chart__progress-bar__prog">
                <span class="chart__progress-bar__text">31 / 47 Days</span>
              </span>

            </div>
          </td>
          <td class="campaign__actions table__actions grid1">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#menu"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="creatives">

            <table class="creative__table">
              <tr class="creative__title">
                <td class="creative__title__thumb grid1">
                  <img src="/images/ss-thumb.png" alt="">
                </td>
                <td class="creative__title__format grid2">
                  <svg viewBox="0 0 980 300" preserveAspectRatio="xMidYMid meet">
                    <use x="0" y="0" href="#super-skin" />
                  </svg>
                </td>
                <td class="creative__title__name grid3" >
                  <%= SSM_same.creative.content %>
                </td>
                <td class="creative__title__author grid5">

                  <span><svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                    <use x="0" y="0" href="#lock" />
                  </svg>1/7/2017 Steve Nash</span>
                </td>
                <td class="creative__title__actions table__actions grid1">
                  <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                    <use x="0" y="0" href="#menu" />
                  </svg>
                </td>
              </tr>
              <tr>
                <td colspan="5" class="creative__placements">

                  <table class="placements__table"> <!-- PLACEMENTS -->

                  <tbody>
                    <tr class="placement">
                      <td class="placement__status grid1">
                        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                          <use x="0" y="0" href="#play" />
                        </svg>
                      </td>
                      <td class="placement__audience grid2">
                        Males Metro AU Tech
                      </td>
                      <td class="placement__name grid3">
                        <%- pl.SSM_same.name %>
                      </td>
                      <td class="placement__dates grid2">
                        <%= moment(SSM_same.dates.start).format('ddd D MMMM') %> - <%= moment(SSM_same.dates.end).format('ddd D MMMM') %>
                      </td>
                      <td class="placement__progress grid3">
                        <div class="plch chart-container" id="chart--SS1Prog">
                          <h6>Delivery</h6>
                          <svg class="plch__bg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMax meet">
                            <circle cx="50" cy="50" r="45" fill="transparent" stroke-width="2" stroke="grey"></circle>
                          </svg>
                          <svg class="plch__result" viewBox="0 0 100 100" preserveAspectRatio="xMidYMax meet">
                            <circle cx="50" cy="50" r="45" fill="transparent" style="stroke-dasharray: 20em; stroke-dashoffset: 10em;   stroke:red;"></circle>
                          </svg>
                          <div class="plch__result-text">
                                37%
                          </div>
                        </div>
                        <div class="plch chart-container" id="chart--SS1Imps"></div>
                        <div class="plch chart-container" id="chart--SS1View"></div>
                        <div class="plch chart-container" id="chart--SS1CTR"></div>
                        <div class="plch chart-container" id="chart--SS1ER"></div>
                      </td>
                      <td class="placement__actions table__actions grid1">
                        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                          <use x="0" y="0" href="#menu" />
                        </svg>
                      </td>

                    </tr>
                  </tbody>
                  </table>


                </td> <!-- end placements -->
            </tr>
            </table>

          </td> <!-- end creative -->
        </tr>
      </table>





      <!-- end campaign -->
    </div>

  </div>

  <script src="/js/site.js"></script>
  <script src="/js/campaigns-plot.js"></script>


  <% include partials/footer.html.ejs %>
