<% include partials/header.html.ejs %>

  <header class="campaign__header grid">




    <div class="campaign-details grid-cell grid7">
      <div class="campaign-details__brand grid-cell">
        <h5>Brand</h5>
        <p>
          <%= allCp[0].brand %>
        </p>
      </div>
      <div class="campaign-details__name grid-cell">
        <h5>Name</h5>
        <p>
          <%= allCp[0].name %>
        </p>
      </div>
      <div class="campaign-details__objective grid-cell">
        <h5>Objective</h5>
        <p>
          <%= allCp[0].objective %>
        </p>
      </div>
      <div class="campaign-details__vertical grid-cell">
        <h5>Vertical</h5>
        <p>
          <%= allCp[0].vertical %>
        </p>
      </div>
    </div>

    <div class="grid-cell grid4">
      <div class="chart chart--cProg">
        <div id="chart--cProg" class="chart__render"></div>
      </div>

      <!-- Plotly graph -->
    </div>
    <div class="campaign-edit grid-cell grid1">
      <button class="icon-only">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
          <use x="0" y="0" href="#menu" />
        </svg>
        <span>Menu</span>

      </button>
      <button class="icon-only">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
          <use x="0" y="0" href="#comments-old" />
        </svg>
        <span>Comments</span>
      </button>
    </div>
  </header>

  <div class="main grid">

    <div class="grid-cell grid3 no-gutter">
      <div class="data-filter">
        <!-- <div class="grid-cell"> -->

          <!-- <div class="data-filter__date-slider" id="slider"></div> -->
          <div class="data-filter__date-picker">
            <div class="date start">Sat 1 July</div>
            <div class="date end">Thurs 31 August</div>
          </div>

          <h2>Group by:</h2>

          <select class="data-filter__group-select">
            <option value="Delivery">Campaign</option>
            <option value="Audience" selected>Placement</option>
            <option value="Category">Format</option>
            <option value="Format">Features</option>
          </select>

          <div class="data-filter__placement-select">

            <% gopro_pments.forEach(function(pl){ %>

              <input type="checkbox" id="check-SS1" name="placement-select" checked/>
              <label for="check-SS1"><span></span><%- pl.id %></label>

            <% }); %>

          </div>

          <h2>Split by:</h2>

          <select class="data-filter__split-select">
          <option value="Location">Audience: Location</option>
          <option value="Gender">Audience: Gender</option>
          <option value="Domain" selected>Site: Domain</option>
          <option value="Category">Site: Category</option>
        </select>


          <div id="treemap" class="data-filter__treemap">
            <div class="dm">Daily Mail</div>
            <div class="smh">SMH</div>
            <div class="elle">Elle</div>
            <div class="roar">The Roar</div>
            <div class="bm">Big Mobile</div>
            <div class="giz">Gizmodo</div>
            <div class="junk">Junkee</div>
            <div class="cnet">CNet</div>
            <div class="huff">Huffington Post</div>
            <div class="mix">In The Mix</div>
          </div>

        <!-- </div> -->

      </div>

    </div>

    <div class="content grid-cell grid9 no-gutter">


      <div class="grid-cell grid8">

        <div class="chart chart--execImpsAgg">

          <h3>Campaign Delivery: All Sites</h3>

          <div class="chart__controls">
            <select class="chart__select">
            <option value="Cumulative">Cumulative</option>
            <option value="Individual">Individual</option>
          </select>
          </div>

          <div id="chart--execImpsAgg" class="chart__render"></div>

        </div>
      </div>

      <div class="grid-cell grid4">
        <div class="chart chart--vAv">
          <h3>Viewability</h3>
          <div id="chart--vAv" class="chart__render"></div>
          <div id="chart--vAvBenchmarks" class="chart__render"></div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">TT: </span>
              <span id="chart--vAv_pgBench" class="legend__value"></span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--vAv_iabBench" class="legend__value"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid4">
        <div class="chart chart--impsDel">
          <h3>Delivery</h3>
          <div class="chart__render" id="chart--impsDel"></div>
          <div class="chart__render" id="chart--impsDelBench"></div>
          <div class="chart__legend">
            <div class="chart__legend__left"><span></span></div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid4">
        <div id="chart--ativAv" class="chart chart--ativAv">
          <h3>Time in View</h3>
          <div class="chart__render">
            <div class="chart__circle">
              <div id="chart--ativAv_value" class="chart__circle__value"></div>
            </div>

          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--ativAv_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--ativAv_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid4">
        <div class="chart chart--erAv">
          <h3>Engagement Rate</h3>
          <div id="chart--erAv" class="chart__render">
            <div class="chart__circle">
              <div id="chart--erAv_value" class="chart__circle__value"></div>
            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--erAv_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--erAv_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid8">
        <div class="chart chart--heat">
          <h3>Completion Rates</h3>
          <h4>Passive</h4>
          <div id="chart--passiveCHeat" class="chart__render"></div>
          <h4>Engaged</h4>
          <div id="chart--engagedCHeat" class="chart__render"></div>
        </div>
      </div>


      <!-- <div class="grid-cell grid4">
        <div class="chart chart--passiveC">
          <h3>Passive Completion Rate</h3>
          <div id="chart--passiveC" class="chart__render">
            <div class="chart__circle">
              <div id="chart--passiveC_value" class="chart__circle__value"></div>
            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--passiveC_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--passiveC_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div> -->

      <div class="grid-cell grid4">
        <div class="chart chart--engagedC">
          <h3>Engaged Completion Rate</h3>
          <div id="chart--engagedC" class="chart__render">
            <div class="chart__circle">
              <div id="chart--engagedC_value" class="chart__circle__value"></div>
            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--engagedC_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--engagedC_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid12">
        <div class="chart">
          <div id="chart--erTime" class="chart__render"></div>
        </div>
      </div>


    </div>


  </div>

  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script src="/js/jQRangeSlider-min.js"></script>
  <script src="/js/jQDateRangeSlider-min.js"></script>
  <script src="/js/site.js"></script>
  <script src="/js/charts-amcharts.js"></script>



  <% include partials/footer.html.ejs %>
