<% include partials/header.html.ejs %>

  <script>
    var campaign = <%- v_campaign %>;
    var SS1Pre = <%- v_SS1Pre %>;
    var SS2Pre = <%- v_SS2Pre %>;
    var SP1Pre = <%- v_SP1Pre %>;
    var SP2Pre = <%- v_SP2Pre %>;
    var SS1Post = <%- v_SS1Post %>;
    var SS2Post = <%- v_SS2Post %>;
    var SP1Post = <%- v_SP1Post %>;
    var SP2Post = <%- v_SP2Post %>;
  </script>



  <section>

    <div class="grid">

      <div class="grid-cell wrapper grid5">
        <div class="grid-cell">Cell1</div>
        <!-- <div class="grid-cell">Cell2</div> -->
      </div>

    </div>

  </section>

  <section class="red-bg">
    <div class="grid">
        <div class="grid-cell grid5">Cell1</div>
        <div class="grid-cell">Cell2</div>
      </div>
    </div>
  </section>

  <section>
    <div class="grid">
      <div class="grid-cell grid11 callout-left">Call out Cell</div>

      <div class="grid-cell grid4">
        <div class="grid-cell">Cell 1</div>
      </div>

      <div class="grid-cell grid4">
        <div class="grid-cell">Cell 1</div>
      </div>

      <div class="grid-cell grid4">
        <div class="grid-cell">Cell 1</div>
      </div>

    </div>
  </section>

  </div>




  <% include partials/footer.html.ejs %>
