<% include partials/header.html.ejs %>

<script>
var campaign = <%- v_campaign %>;
var SS1Pre = <%- v_SS1Pre %>;
var SS2Pre = <%- v_SS2Pre %>;
var SP1Pre = <%- v_SP1Pre %>;
var SP2Pre = <%- v_SP2Pre %>;
var SS1Post = <%- v_SS1Post %>;
var SS2Post = <%- v_SS2Post %>;
var SP1Post = <%- v_SP1Post %>;
var SP2Post = <%- v_SP2Post %>;
</script>


 <div class="progress">

   <div class="progress__dates">
     <div class="progress__dates__start"></div>
     <div class="progress__dates__end"></div>
   </div>


   <div class="progress__bar">

     <div class="progress__days"></div>
     <div class="progress__bar__indicator">
       <div class="progress__bar__integer"></div>
     </div>

   </div>
 </div>

 <h1>Delivery</h1>

 <div class="row summary" style="display:none">

 <div class="module module--quarter module--impressions">
   <h4>Impressions</h4>
   <div class="chart--donut">
     <div class="chart--donut__graphic"></div>
     <div class="chart--donut__diff"></div>
   </div>
   <div class="module__benchmark"></div>
 </div>

 <div class="module module--quarter module--viewability">

   <div class="chart--donut">
     <div class="chart--donut__graphic"></div>
     <div class="chart--donut__diff"></div>
   </div>
   <div class="module__benchmark"></div>
 </div>

 </div>

 <h4>Viewability</h4>
 <h3>Hello <%= SS2Pre.name %></h3>

 <div id="imps-chart"></div>

  <div id="viewability-chart"></div>


 <!-- <div id="content">
   <h1>Heading 1. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.   </h1>
   <h2>Heading 2. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis</h2>
   <h3>Heading 3. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h3>
   <h4>Heading 4</h4>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
   <p class="small">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
 </div> -->



 <% include partials/footer.html.ejs %>
