<% include partials/header.html.ejs %>

<% var cp = campaigns.filter(cp => cp.id === 'cp_gopro')[0]; %>

<div class="app__body">

  <% include partials/spinner.html.ejs %>

  <div class="breadcrumbs dark">Campaigns <span class="breadcrumbs__arrow">&#9654;</span>GoPro - Hero 5 Mark II</div>

  <div class="page-title dark grid">

    <!-- <svg class="notes-icon" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
      <use x="0" y="0" href="#comments" />
    </svg> -->

    <h1 class="greeting-text grid-cell grid2" data-label="Brand">GoPro</h1>
    <h1 class="greeting-text grid-cell grid3" data-label="Name">Hero 5 Mark II</h1>
    <h3 class="grid-cell grid3 campaign__dates" data-label="Dates">Tue 1 Aug - Sat 30 Sep</h3>
    <div class="grid-cell grid4 campaign__progress" data-label="Progress">
      <div class="chart__progress-bar">
        <span class="chart__progress-bar__prog" style="width: 66.66666666666666%; background: #e91e63;">
          <span class="chart__progress-bar__text">40 / 60 days</span>
        </span>

      </div>
    </div>

  </div>

  <div class="content-buttons grid">

    <div class="current-view grid-cell grid2">

    </div>
    <p class="group-value grid-cell grid3" data-label="">All Impressions</p>
    <p class="split-value grid-cell grid4" data-label=""></p>
    <div class="content-buttons-right grid-cell grid3">
      <button class="">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" href="#download-file" />
        </svg>
        Download
      </button>

      <button class="notes-button">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" href="#comments" />
        </svg>
        Notes
      </button>

    </div>
  </div>



<div class="data-filter">

  <button class="show-filter">

    <svg class="show-filter-bg grey" viewBox="0 0 400 200" preserveAspectRatio="xMaxYMid meet">
      <use  x="0" y="0" href="#show-filter" />
    </svg>

    <svg class="show-filter-bg pink" viewBox="0 0 400 200" preserveAspectRatio="xMaxYMid meet">
      <use  x="0" y="0" href="#show-filter" />
    </svg>

    <svg id="show-filter-icons" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
      <use id="gear" x="0" y="0" href="#gear" />
      <use id="close" x="0" y="0" href="#close" />
    </svg>
    <div class="show-filter__label">
      <div class="show-filter__label__anim">
        <span>Current View</span>
        <span>Change View</span>
      </div>
    </div>
  </button>


    <h1>Change View</h1>

    <div class="filter filter__date-picker">
      <div class="input__wrapper">
        <h3>Date Range</h3>

        <input type="checkbox" id="campaign-dates" name="campain-dates" checked/>
        <label for="campaign-dates">Use Campaign Dates</label>

      <input type="text" placeholder="<%= moment(cp.dates.start).format('D/M/YYYY') %> – <%= moment(cp.dates.end).format('D/M/YYYY') %>" disabled>
      <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMax meet">
        <use x="0" y="0" href="#calendar" />
      </svg>

    </div>
  </div>

    <div class="filter group-by none">

      <div class="input__wrapper">
        <h3>View</h3>

          <select id="group-by" class="filter__group-select">
            <option value="campaign" selected>Campaign</option>
            <option value="placement" >Placement</option>
            <option value="format">Format</option>
            <option value="features">Features</option>
          </select>

      </div>


      <div class="filter filter__placement-select none">

        <% let gopro_pments = placements.filter(pl => pl.campaign === 'cp_gopro'); %>
        <% gopro_pments.forEach(function(pl, index){ %>

          <input type="radio" id="radio<%= index %>" name="placement-select"/>
          <label for="radio<%= index %>" data-placement="<%= pl.id %>" name="choose-placement"><span></span><%- pl.name %></label>

        <% }); %>

      </div>

      <!-- <div class="filter__format-select">

          <input type="radio" id="radio10" name="format-select" selected/>
          <label for="radio10" data-placement="SSM_same" name="choose-format" selected><span></span>Super Skin</label>

          <input type="radio" id="radio11" name="format-select"/>
          <label for="radio11" data-placement="TTM_same" name="choose-format"><span></span>Top and Tail</label>

      </div> -->

    </div>

    <div class="filter split-by none">

      <div class="input__wrapper">
        <h3>Split</h3>
          <select id="split-by" class="filter__split-select">
          <option value="none" selected>None</option>
          <option value="location">Audience: Location</option>
          <option value="gender">Audience: Gender</option>
          <option value="domain">Site: Domain</option>
          <option value="category">Site: Category</option>
        </select>

      </div>



      <div id="treemap" class="filter__treemap">

        <div class="dm">Technology</div>
        <div class="smh">Entertainment</div>
        <div class="elle">Lifestyle</div>
        <div class="roar">Sport</div>
        <div class="bm">Gaming</div>
        <div class="giz">Travel</div>
        <div class="junk">Food</div>
        <div class="cnet">News</div>
        <div class="huff">Sex</div>
        <div class="mix">Other</div>
      </div>

    </div>


</div>

  <div class="main grid">

    <div class="sidebar grid-cell grid3 no-gutter">

    </div>

    <div class="chart__error">

      <svg class="notes-icon" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
        <use x="0" y="0" href="#comments" />
      </svg>
      <div class="chart__error__content">
        <h1>Notes</h1>
        <div class="note__container">
          <p class="date">On 25 Aug 2017, <span style="font-weight:700">Scot Liddell</span> wrote:</p>
          <p class="note">Retargetted audience towards improving Engagement Rate</p>
          <p class="remedy">Optimisations: Scot Liddell corrected the tag to reinstate impressions</p>
        </div>
        <div class="note__container note__active">
          <p class="date">On 8 Aug 2017, <span style="font-weight:700">Scot Liddell</span> wrote:</p>
          <p class="note">Executed Impressions below benchmark due to 100% Fallback: non-certified article pages on Bauer sites.</p>
          <p class="remedy">Optimisations: Scot Liddell corrected the tag to reinstate impressions</p>
        </div>
        <div class="note__container" style="border:0">
          <button>Add Note</button>

        </div>

      </div>
    </div>

    <div class="content grid">

      <div id="accord__head--del" class="accordion-header">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
          <use class="plus" x="0" y="0" href="#expand-plus"></use>
          <use class="minus" x="0" y="0" href="#expand-minus"></use>
        </svg>
        <span>Delivery</span>
      </div>
      <div id="accord__content--del" class="accordion-content">

      <div class="grid-cell grid4 error-chart">
        <div class="chart chart--impsDel">
          <h3>
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#arrow-right" />
            </svg>
            Delivery
          </h3>
          <div class="chart__error-button"></div>
          <div class="chart__render" id="chart--impsDel"></div>
          <div class="chart__render" id="chart--impsDelBench"></div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span></span>
            </div>
          </div>
        </div>
      </div>


      <div class="grid-cell grid8">
        <div class="chart chart--execImpsAgg">

          <div class="chart__controls">
            <h3>
              <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                <use x="0" y="0" href="#impressions" />
              </svg>
              Impressions
            </h3>
            <div class="chart__error-button"></div>

            <select class="chart__select">
            <option value="Cumulative">Cumulative</option>
            <option value="Individual">Individual</option>
          </select>
          </div>
          <div class="marker marker1"></div>
          <div class="marker marker2"></div>

          <div id="chart--execImpsAgg" class="chart__render">
          </div>

        </div>
      </div>

      <div class="grid-cell grid4">
        <div class="chart chart--vAv">
          <h3>
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#viewability" />
            </svg>
            Viewability
          </h3>
          <div id="chart--vAv" class="chart__render"></div>
          <div id="chart--vAvBenchmarks" class="chart__render"></div>
          <div class="chart__legend">
            <div id="chart--vAv_pgBench" class="chart__legend__left">
              <div class="box"></div>
              <span class="legend__label"></span>
              <span class="legend__value"></span>
            </div>
            <div id="chart--vAv_iabBench" class="chart__legend__right">
              <div class="box"></div>
              <span class="legend__label">IAB: </span>
              <span class="legend__value"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid4">
        <div id="chart--ativAv" class="chart chart--ativAv">
          <h3>
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#time-in-view" />
            </svg>
            Time in View
          </h3>
          <div class="chart__render">
            <div class="chart__circle">
              <div id="chart--ativAv_value" class="chart__circle__value" data-unit="S"></div>

            </div>

          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--ativAv_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--ativAv_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid4">
        <div class="chart chart--passiveC">
          <h3>
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#full-view" />
            </svg>
            Passive Completion
          </h3>
          <div id="chart--passiveC" class="chart__render">
            <div class="chart__circle">
              <div id="chart--passiveC_value" class="chart__circle__value" data-unit="%"></div>

            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--passiveC_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--passiveC_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="accord__head--del" class="accordion-header">
      <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
        <use class="plus" x="0" y="0" href="#expand-plus"></use>
        <use class="minus" x="0" y="0" href="#expand-minus"></use>
      </svg>
      <span>Engagement</span></div>
    <div id="accord__content--del" class="accordion-content">

      <div class="grid-cell grid4">
        <div class="chart chart--erAv">
          <h3>
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#ctr" />
            </svg>
            Engagement Rate
          </h3>
          <div id="chart--erAv" class="chart__render">
            <div class="chart__circle">
              <div id="chart--erAv_value" class="chart__circle__value" data-unit="%"></div>

            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--erAv_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--erAv_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>


      <div class="grid-cell grid8">
        <div class="chart">
          <div class="chart__controls">
            <h3>
              <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
                <use x="0" y="0" href="#ctr" />
              </svg>
              Engagements
            </h3>

          </div>

          <div id="chart--erTime" class="chart__render"></div>
        </div>
      </div>


      <div class="grid-cell grid4">
        <div class="chart chart--engagedC">
          <h3>
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#completion-rate" />
            </svg>
            Engaged Completion
          </h3>
          <div id="chart--engagedC" class="chart__render">
            <div class="chart__circle">
              <div id="chart--engagedC_value" class="chart__circle__value" data-unit="%"></div>

            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--engagedC_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--engagedC_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid8">
        <div class="chart chart--heat">
          <h3>
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#completion-rate" />
            </svg>
            Completion Rates
          </h3>
          <h4>Passive</h4>
          <div id="chart--passiveCHeat" class="chart__render"></div>
          <h4>Engaged</h4>
          <div id="chart--engagedCHeat" class="chart__render"></div>
        </div>
      </div>

    </div>

    </div>

    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jQRangeSlider-min.js"></script>
    <script src="/js/jQDateRangeSlider-min.js"></script>
    <script src="/js/charts-amcharts1.js"></script>
    <script src="/js/charts-amcharts.js"></script>
    <script src="/js/site.js"></script>


  </div>

</div>





  <% include partials/footer.html.ejs %>
