<% include partials/header.html.ejs %>

<% var cp = campaigns.filter(cp => cp.id === 'cp_gopro')[0]; %>


<div class="campaign-details">
  <div class="background"></div>
  <table class="campaign__table  <%= cp.id %>">

    <tr class="campaign__title">
      <td class="campaign__expand" data-cp="<%= cp.id %>">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" href="#arrow-left-head"></use>
          <use x="0" y="0" href="#arrow-left-stem"></use>
        </svg>
      </td>
      <td class="campaign__brand">
        <%= cp.brand %>
      </td>
      <td class="campaign__name grid3">
        <%= cp.name %>
      </td>
      <td class="campaign__dates grid2">
        <%= moment(cp.dates.start).format('ddd D MMM') %> - <%= moment(cp.dates.end).format('ddd D MMM') %>
      </td>
      <td class="campaign__progress grid3">

        <% var dur = duration(cp.dates); %>
        <% var cur = moment(new Date()).diff(cp.dates.start, 'days'); %>
        <% var percent = (cur / dur * 100) > 0 ? (cur / dur * 100) : 0; %>
        <% var progString = cur <= 0 ? (cur * -1) + ' days til start' : cur + ' / ' + dur + ' days';  %>

        <div class="chart__progress-bar">
          <span class="chart__progress-bar__prog" style="width: <%= percent %>%; background: #e91e63;">
            <span class="chart__progress-bar__text"><%= progString %></span>
          </span>

        </div>
      </td>
      <td class="campaign__actions table__actions">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" href="#menu"></use>
        </svg>
      </td>
    </tr>
  </table>
</div>

  <div class="main grid">

    <div class="sidebar grid-cell grid3 no-gutter">

      <div class="data-filter">
        <!-- <div class="grid-cell"> -->

          <!-- <div class="filter__date-slider" id="slider"></div> -->

          <h1>Filters</h1>

          <button class="close-filter">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#close" />
            </svg>

          </button>


          <div class="filter filter__date-picker">
            <div class="input__wrapper">
              <label for="group-by">Date Range:</label>

            <input type="text" placeholder="<%= moment(cp.dates.start).format('D/M/YYYY') %> – <%= moment(cp.dates.end).format('D/M/YYYY') %>">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMax meet">
              <use x="0" y="0" href="#calendar" />
            </svg>

          </div>
        </div>

          <div class="filter group-by placement">

            <div class="input__wrapper">
              <label for="group-by">Group by:</label>

                <select id="group-by" class="filter__group-select">
                  <option value="campaign">Campaign</option>
                  <option value="placement" selected>Placement</option>
                  <option value="format">Format</option>
                  <option value="features">Features</option>
                </select>

            </div>


            <div class="filter__placement-select">

              <% let gopro_pments = placements.filter(pl => pl.campaign === 'cp_gopro'); %>
              <% gopro_pments.forEach(function(pl, index){ %>

                <input type="radio" id="radio<%= index %>" name="placement-select"/>
                <label for="radio<%= index %>" data-placement="<%= pl.id %>" name="choose-placement"><span></span><%- pl.name %></label>

              <% }); %>

            </div>

            <div class="filter__format-select">

                <input type="radio" id="radio10" name="format-select" selected/>
                <label for="radio10" data-placement="SSM_same" name="choose-format" selected><span></span>Super Skin</label>

                <input type="radio" id="radio11" name="format-select"/>
                <label for="radio11" data-placement="TTM_same" name="choose-format"><span></span>Top and Tail</label>

            </div>

          </div>

          <div class="filter split-by none">

            <div class="input__wrapper">
              <label for="split-by">Split by:</label>
                <select id="split-by" class="filter__split-select">
                <option value="none" selected>None</option>
                <option value="location">Audience: Location</option>
                <option value="gender">Audience: Gender</option>
                <option value="domain">Site: Domain</option>
                <option value="category">Site: Category</option>
              </select>

            </div>



            <div id="treemap" class="filter__treemap">

              <div class="dm">Daily Mail</div>
              <div class="smh">SMH</div>
              <div class="elle">Elle</div>
              <div class="roar">The Roar</div>
              <div class="bm">Big Mobile</div>
              <div class="giz">Gizmodo</div>
              <div class="junk">Junkee</div>
              <div class="cnet">CNet</div>
              <div class="huff">Huffington Post</div>
              <div class="mix">In The Mix</div>
            </div>

          </div>


      </div>

    </div>

    <div class="content grid-cell grid9 no-gutter">

      <div class="filter-actions">

        <div class="show-filter">
          <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" href="#filter3" />
          </svg>

          <h3>Group:</h3>
          <p class="group">Placement</p>

          <h3>Split:</h3>
          <p class="split">None</p>

        </div>

        <div class="actions">

          <button class="schedule">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#clock" />
            </svg>
          </button>

          <button class="download-file">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#download-file" />
            </svg>
          </button>

          <!-- <button class="menu">
            <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
              <use x="0" y="0" href="#menu" />
            </svg>
          </button> -->

        </div>

      </div>


      <div class="grid-cell grid4">
        <div class="chart chart--impsDel">
          <h3>Delivery</h3>
          <div class="chart__render" id="chart--impsDel"></div>
          <div class="chart__render" id="chart--impsDelBench"></div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span></span>
            </div>
          </div>
        </div>
      </div>


      <div class="grid-cell grid8">
        <div class="chart chart--execImpsAgg">

          <div class="chart__controls">
            <h3>Impressions</h3>
            <select class="chart__select">
            <option value="Cumulative">Cumulative</option>
            <option value="Individual">Individual</option>
          </select>
          </div>

          <div id="chart--execImpsAgg" class="chart__render"></div>

        </div>
      </div>

      <div class="grid-cell grid4">
        <div class="chart chart--vAv">
          <h3>Viewability</h3>
          <div id="chart--vAv" class="chart__render"></div>
          <div id="chart--vAvBenchmarks" class="chart__render"></div>
          <div class="chart__legend">
            <div id="chart--vAv_pgBench" class="chart__legend__left">
              <div class="box"></div>
              <span class="legend__label"></span>
              <span class="legend__value"></span>
            </div>
            <div id="chart--vAv_iabBench" class="chart__legend__right">
              <div class="box"></div>
              <span class="legend__label">IAB: </span>
              <span class="legend__value"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid4">
        <div class="chart chart--erAv">
          <h3>Engagement Rate</h3>
          <div id="chart--erAv" class="chart__render">
            <div class="chart__circle">
              <div id="chart--erAv_value" class="chart__circle__value"></div>
            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--erAv_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--erAv_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid4">
        <div id="chart--ativAv" class="chart chart--ativAv">
          <h3>Time in View</h3>
          <div class="chart__render">
            <div class="chart__circle">
              <div id="chart--ativAv_value" class="chart__circle__value"></div>
            </div>

          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--ativAv_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--ativAv_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>


      <div class="grid-cell grid12">
        <div class="chart">
          <div id="chart--erTime" class="chart__render"></div>
        </div>
      </div>


      <div class="grid-cell grid4">
        <div class="chart chart--engagedC">
          <h3>Engaged Completion Rate</h3>
          <div id="chart--engagedC" class="chart__render">
            <div class="chart__circle">
              <div id="chart--engagedC_value" class="chart__circle__value"></div>
            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--engagedC_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--engagedC_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid8">
        <div class="chart chart--heat">
          <h3>Completion Rates</h3>
          <h4>Passive</h4>
          <div id="chart--passiveCHeat" class="chart__render"></div>
          <h4>Engaged</h4>
          <div id="chart--engagedCHeat" class="chart__render"></div>
        </div>
      </div>



    </div>

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="/js/jQRangeSlider-min.js"></script>
    <script src="/js/jQDateRangeSlider-min.js"></script>
    <script src="/js/charts-amcharts1.js"></script>
    <script src="/js/charts-amcharts.js"></script>
    <script src="/js/site.js"></script>


  </div>





  <% include partials/footer.html.ejs %>
