<% include partials/header.html.ejs %>

<% var cp = campaigns.filter(cp => cp.id === 'cp_gopro')[0]; %>

<div class="app__body">

  <div class="breadcrumbs dark">Campaigns <span class="breadcrumbs__arrow">&#9654;</span>GoPro - Hero 5 Mark II</div>

  <div class="page-title dark grid">

    <h1 class="greeting-text grid-cell grid2" data-label="Brand">GoPro</h1>
    <h1 class="greeting-text grid-cell grid3" data-label="Name">Hero 5 Mark II</h1>
    <h3 class="grid-cell grid3 campaign__dates" data-label="Dates">Tue 1 Aug - Sat 30 Sep</h3>
    <div class="grid-cell grid4 campaign__progress" data-label="Progress">
      <div class="chart__progress-bar">
        <span class="chart__progress-bar__prog" style="width: 66.66666666666666%; background: #e91e63;">
          <span class="chart__progress-bar__text">40 / 60 days</span>
        </span>

      </div>
    </div>

  </div>

  <div class="content-buttons grid">

    <div class="current-view grid-cell grid2">

    </div>
    <p class="group-value grid-cell grid3" data-label="Placement">14sfjhajsh hajka_sdfsdfsd_asf</p>
    <p class="split-value grid-cell grid4" data-label="Category">Entertainment</p>
    <div class="content-buttons-right grid-cell grid3">
      <button class="">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" href="#download-file" />
        </svg>
        Download
      </button>

      <button class="">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" href="#comments" />
        </svg>
        View Notes
      </button>

    </div>
  </div>

<!-- <div class="spinner">
  <div>
    <h3>Downloading Report</h3>
    <p><%= cp.name%>.xlsx</p>
    <svg class="spinner__icon" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
      <use x="0" y="0" href="#spinner"></use>
    </svg>
  </div>

</div> -->

<div class="data-filter">

  <button class="show-filter">
    <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
      <use x="0" y="0" href="#gear" />
    </svg>
    <div class="show-filter__label">
      <div class="show-filter__label__anim">
        <span>Current View</span>
        <span>Change View</span>
      </div>
    </div>
  </button>


    <h1>Change View</h1>

    <div class="filter filter__date-picker">
      <div class="input__wrapper">
        <label for="group-by">Date Range:</label>

      <input type="text" placeholder="<%= moment(cp.dates.start).format('D/M/YYYY') %> – <%= moment(cp.dates.end).format('D/M/YYYY') %>">
      <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMax meet">
        <use x="0" y="0" href="#calendar" />
      </svg>

    </div>
  </div>

    <div class="filter group-by placement">

      <div class="input__wrapper">
        <label for="group-by">Group by:</label>

          <select id="group-by" class="filter__group-select">
            <option value="campaign">Campaign</option>
            <option value="placement" selected>Placement</option>
            <option value="format">Format</option>
            <option value="features">Features</option>
          </select>

      </div>


      <div class="filter__placement-select">

        <% let gopro_pments = placements.filter(pl => pl.campaign === 'cp_gopro'); %>
        <% gopro_pments.forEach(function(pl, index){ %>

          <input type="radio" id="radio<%= index %>" name="placement-select"/>
          <label for="radio<%= index %>" data-placement="<%= pl.id %>" name="choose-placement"><span></span><%- pl.name %></label>

        <% }); %>

      </div>

      <div class="filter__format-select">

          <input type="radio" id="radio10" name="format-select" selected/>
          <label for="radio10" data-placement="SSM_same" name="choose-format" selected><span></span>Super Skin</label>

          <input type="radio" id="radio11" name="format-select"/>
          <label for="radio11" data-placement="TTM_same" name="choose-format"><span></span>Top and Tail</label>

      </div>

    </div>

    <div class="filter split-by none">

      <div class="input__wrapper">
        <label for="split-by">Split by:</label>
          <select id="split-by" class="filter__split-select">
          <option value="none" selected>None</option>
          <option value="location">Audience: Location</option>
          <option value="gender">Audience: Gender</option>
          <option value="domain">Site: Domain</option>
          <option value="category">Site: Category</option>
        </select>

      </div>



      <div id="treemap" class="filter__treemap">

        <div class="dm">Daily Mail</div>
        <div class="smh">SMH</div>
        <div class="elle">Elle</div>
        <div class="roar">The Roar</div>
        <div class="bm">Big Mobile</div>
        <div class="giz">Gizmodo</div>
        <div class="junk">Junkee</div>
        <div class="cnet">CNet</div>
        <div class="huff">Huffington Post</div>
        <div class="mix">In The Mix</div>
      </div>

    </div>


</div>

  <div class="main grid">

    <div class="sidebar grid-cell grid3 no-gutter">

    </div>

    <div class="content grid">

      <div id="accord__head--del" class="accordion-header">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
          <use class="plus" x="0" y="0" href="#expand-plus"></use>
          <use class="minus" x="0" y="0" href="#expand-minus"></use>
        </svg>
        <span>Delivery</span>
      </div>
      <div id="accord__content--del" class="accordion-content">

      <div class="grid-cell grid4 error-chart">
        <div class="chart chart--impsDel">
          <h3>Delivery</h3>
          <div class="chart__render" id="chart--impsDel"></div>
          <div class="chart__render" id="chart--impsDelBench"></div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span></span>
            </div>
          </div>
        </div>
      </div>


      <div class="grid-cell grid8">
        <div class="chart chart--execImpsAgg">

          <div class="chart__controls">
            <h3>Impressions</h3>
            <div class="chart__error-button"></div>
            <div class="chart__error">
              <div class="chart__error__content">
                <p class="date">8 Aug 2017</p>
                <p class="note">Executed Impressions below benchmark due to 100% Fallback: non-certified article pages on Bauer sites.</p>
                <h6 class="optim">Optimisations</h6>
                <p class="remedy">Scot Liddell corrected the tag to reinstate impressions</p>
                <p class="date">25 Aug 2017</p>
                <p class="note">Retargetted audience towards improving Engagement Rate</p>
                <h6 class="optim">Optimisations</h6>
                <p class="remedy">Scot Liddell corrected the tag to reinstate impressions</p>
              </div>
            </div>
            <select class="chart__select">
            <option value="Cumulative">Cumulative</option>
            <option value="Individual">Individual</option>
          </select>
          </div>
          <div class="marker marker1"></div>
          <div class="marker marker2"></div>

          <div id="chart--execImpsAgg" class="chart__render">
          </div>

        </div>
      </div>

      <div class="grid-cell grid4">
        <div class="chart chart--vAv">
          <h3>Viewability</h3>
          <div id="chart--vAv" class="chart__render"></div>
          <div id="chart--vAvBenchmarks" class="chart__render"></div>
          <div class="chart__legend">
            <div id="chart--vAv_pgBench" class="chart__legend__left">
              <div class="box"></div>
              <span class="legend__label"></span>
              <span class="legend__value"></span>
            </div>
            <div id="chart--vAv_iabBench" class="chart__legend__right">
              <div class="box"></div>
              <span class="legend__label">IAB: </span>
              <span class="legend__value"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid4">
        <div id="chart--ativAv" class="chart chart--ativAv">
          <h3>Time in View</h3>
          <div class="chart__render">
            <div class="chart__circle">
              <div id="chart--ativAv_value" class="chart__circle__value" data-unit="S"></div>

            </div>

          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--ativAv_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--ativAv_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid4">
        <div class="chart chart--passiveC">
          <h3>Completion Rate (Passive)</h3>
          <div id="chart--passiveC" class="chart__render">
            <div class="chart__circle">
              <div id="chart--passiveC_value" class="chart__circle__value" data-unit="%"></div>

            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--passiveC_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--passiveC_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="accord__head--del" class="accordion-header">
      <svg viewBox="0 0 300 300" preserveAspectRatio="xMinYMid meet">
        <use class="plus" x="0" y="0" href="#expand-plus"></use>
        <use class="minus" x="0" y="0" href="#expand-minus"></use>
      </svg>
      <span>Engagement</span></div>
    <div id="accord__content--del" class="accordion-content">

      <div class="grid-cell grid4">
        <div class="chart chart--erAv">
          <h3>Engagement Rate</h3>
          <div id="chart--erAv" class="chart__render">
            <div class="chart__circle">
              <div id="chart--erAv_value" class="chart__circle__value" data-unit="%"></div>

            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--erAv_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--erAv_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>


      <div class="grid-cell grid8">
        <div class="chart">
          <div id="chart--erTime" class="chart__render"></div>
        </div>
      </div>


      <div class="grid-cell grid4">
        <div class="chart chart--engagedC">
          <h3>Completion Rate (Engaged)</h3>
          <div id="chart--engagedC" class="chart__render">
            <div class="chart__circle">
              <div id="chart--engagedC_value" class="chart__circle__value" data-unit="%"></div>

            </div>
          </div>
          <div class="chart__legend">
            <div class="chart__legend__left">
              <span class="legend__label">PGXYZ: </span>
              <span id="chart--engagedC_pgBench" class="legend__value">-1.2</span>
            </div>
            <div class="chart__legend__right">
              <span class="legend__label">IAB: </span>
              <span id="chart--engagedC_iabBench" class="legend__value">+3.2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-cell grid8">
        <div class="chart chart--heat">
          <h3>Completion Rates</h3>
          <h4>Passive</h4>
          <div id="chart--passiveCHeat" class="chart__render"></div>
          <h4>Engaged</h4>
          <div id="chart--engagedCHeat" class="chart__render"></div>
        </div>
      </div>

    </div>

    </div>

    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jQRangeSlider-min.js"></script>
    <script src="/js/jQDateRangeSlider-min.js"></script>
    <script src="/js/charts-amcharts1.js"></script>
    <script src="/js/charts-amcharts.js"></script>
    <script src="/js/site.js"></script>


  </div>

</div>





  <% include partials/footer.html.ejs %>
